.skill-form > label {
    margin: 0px;
}

.skill-form input[type="text"] {
    width: 400px;
    border:0;
    padding-left: 10px;
    box-sizing: border-box;

}

/* .submit.button {
    border-radius: 0 4px 4px 0;
    padding: 0px;
} */

ul {
    list-style-type: none;
}